* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #A7ACD9;
}
header{
    height: 175px;
    width: 80%;
    background-color: #42F2F7;
    margin-left: 10%;
}
main{
    height: 1000px;
    background-color: #36558F;
    width: 90%;
    margin-left: 5%;
    align-items: center;
}
footer{
    height: 75px;
    width: 100%;
    background-color: #5B5D74;
}
nav{
    width: 80%;
    height: 125px;
    background-color: #5B5D74;
    margin-left: 10%;
    margin-bottom: 5%;
}
.nav_links {
    list-style: none;
}
.Nteksts{
    margin-left: 5%;
}
.nav_links li {
    display: inline-block;
    padding: 45px 50px;
    margin-left: 2%;
}
.nav_links li a:hover {
    transition: all 2,0 ease 0;
    color: goldenrod
}

.m-container{
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    display: wrap;
}

.m-con-1{
    background-color: green;

    display: flex;
    flex-direction: column;

}

.m-con-1{
    display: flex;
    flex-direction: row;
}

.image{
    left: 0px;
    height: 150px;
    width: 100%;
}

.m-con-2{
    background-color: red;
    height: 650px;
    width: 100%;
}

